<%include head %>
<!------网站中部------>
<article id="ibox">
    <div class="page-ad">
        <img src="window/assets/images/nt-banner.png" />
    </div>
<!------9kuai9------>
<div class="w1205 middle">
  <section>
      <div class="floor-list">
          <div class="floor-goods">
              <ul class="seckill-list goods-list">
                  <%var item = result.data;%>
                 <% for (var i in item) {%>
                  <li class="col-sm-4 col-md-3">
                      <div class="seckill-item">
                          <a class="goods-img" href="<%=item[i].click_url%>" target="_blank"><img src="<%=item[i].pict_url%>"></a>
                          <div class="goods-info">
                              <p class="info-tit"><a class="name" href="<%=item[i].click_url%>" target="_blank"><%=item[i].title%></a></p>
                              <div class="info-price">
                                  <span class="new"><%=item[i].zk_final_price%></span>
                                  <p class="sales">近30天已售<%=item[i].volume%></p>
                              </div>
                              <div class="info-mark">'
                                  <p class="old fl"><del>¥<%=item[i].reserve_price%></del></p>'
                                  <i class="free-icon icon9"></i>
                                  <%if (item[i].user_type == 1) {%>
                                  <a class="mall bicon02 free-icon" data-source="天猫" href="<%=item[i].click_url%>" target="_blank"></a>
                                  <%} else {%>
                                  <a class="mall bicon01 free-icon" data-source="淘宝" href="<%=item[i].click_url%>" target="_blank"></a>
                                  <%}%>
                                </div>
                          </div>
                          <div class="info-pinzhi hidden-sm hidden-md">
                              <p class="pinzhi1"><a href="/index"><i class="free-icon icon1"></i>已缴保证金</a></p>
                              <p class="line">|</p>
                              <p class="pinzhi2"><a href="/redpacket"><i class="free-icon icon1"></i>商家品质保障</a></p>
                              </div>
                          </div>
                      </li>
                  <%}%>
              </ul>
          </div>
          <%include page %>
      </div>
  </section>

 </div>
</article>
<%include foot %>