<!------商品分页------>
<% if(result.total_num >0){%>
<div class="page">
    <div class="page-main">
        <div class="page-total left">共<b><%=result.total_num%></b>条</div>
        <div class="page-list left">
            <a href="<%=baseUrl%>&page_no=1" <% if(result.page_no==1){ %> class="forbin" <%}%> >首页</a>
            <a href="<%=baseUrl%>&page_no=<%=result.pre_page%>" <% if(result.page_no==1){ %> class="forbin" <%}%> ><i>< </i>上一页</a>
            <!--页数显示计算 -->
            <% var start_page = result.total_page - result.page_no >5 ?result.page_no:result.total_page - 5; %>
            <% var start_page = start_page >0 ?start_page:1; %>
            <% var end_page = result.total_page >5 ?start_page+5:result.total_page; %>
            <% for(var i=start_page;i<=end_page;i++){ %>
            <a href="<%=baseUrl%>&page_no=<%=i %>" <% if(result.page_no==i){ %> class="on" <%}%> ><%=i %></a>
            <%}%>
            <!-- -->
            <a href="<%=baseUrl%>&page_no=<%=result.next_page%>" <% if(result.page_no==result.total_page){ %> class="forbin" <%}%>>下一页<i> ></i></a>
            <a href="<%=baseUrl%>&page_no=<%=result.total_page%>" <% if(result.page_no==result.total_page){ %> class="forbin" <%}%>>尾页</a>
        </div>
        <div class="page-num left">
            页次：<span><i><%=result.page_no%></i><label>/<%=result.total_page%></label></span>页（<b><%=result.page_size%></b>条/页）到
        </div>
        <div class="page-sel left">
            <select name="page">
                <% for(var i=1;i<=result.total_page;i++){ %>
                <option value="<%=i%>" <% if(i == result.page_no){ %> selected <% } %> >第<%=i%>页</option>
                <% } %>
            </select>
        </div>
        <div class="clear"></div>
    </div>
</div>
<script type="text/javascript">
    var baseUrl = '<%= baseUrl%>';
    //下拉分页
    $('select[name="page"]').change(function(){
        var page_no = $(this).val();
        window.location.href = baseUrl+'&page_no='+page_no;
    });
</script>
<%}else{%>
<div class="result-cont tc">
    <div class="no-result iconfont">&#xe696;</div>
    <div class="no-result-find">
        <h3>抱歉，没有找到相关结果</h3>
        <div class="other">请尝试输入其他关键词</div>
    </div>
    <div class="clear"></div>
</div>
<%}%>