<%include head %>

<!------网站中部------>
<article id="cbox">

	<!------今日新品------>
	<div class="w1205 middle">
		<section>
			<div class="floor-list">
				<div class="goods-choice">
					<span class="choice-title left">您搜索的 > </span>
					<div class="choice-condite left">
						<div class="choice-item left">
							<span class="choice-matter">关键词：<b><%=serach_name%></b></span>
						</div>
						<p class="choice-num left">为您找到<b><%=result.total_num%></b>款商品</p>
					</div>
					<div class="clear"></div>
				</div>
				<div class="goods-type-filter">
					<div class="goods-type">
						<label class="goods-label">商品分类：</label>
						<ul class="goods-type-cage">
							<li><a href="/cage?category_id=0">全部</a></li>
                            <% for(var i in all_category){ %>
							<li><a href="/cage?category_id=<%=all_category[i].cid%>" target="_blank"><%=all_category[i].cname%></a></li>
                            <% }%>
						</ul>
					</div>
				</div>
				<div class="sort">
					<a href="/goods/search?search_name=<%=serach_name%>&sort_name=all" class="sort-nav <%if(sort_name == 'all'){%>sort-curn<%}%>">综合</a>
                    <a href="/goods/search?search_name=<%=serach_name%>&sort_name=sales_num&orderBy=sales_num&direction=desc" class="sort-nav <%if(sort_name == 'sales_num'){%>sort-curn<%}%>">销量</a>
                    <a href="/goods/search?search_name=<%=serach_name%>&sort_name=price&orderBy=price&direction=asc" class="sort-nav <%if(sort_name == 'price'){%>sort-curn<%}%>">价格</a>
                    <a href="/goods/search?search_name=<%=serach_name%>&sort_name=newest&orderBy=id&direction=desc" class="sort-nav <%if(sort_name == 'newest'){%>sort-curn<%}%>">最新</a>
					<a href="/goods/search?search_name=<%=serach_name%>&sort_name=tmall&is_tmall=1" class="sort-nav <%if(sort_name == 'tmall'){%>sort-curn<%}%>">只看天猫</a>
                    <a href="/goods/search?search_name=<%=serach_name%>&sort_name=taobao&is_tmall=0" class="sort-nav <%if(sort_name == 'taobao'){%>sort-curn<%}%>">只看淘宝</a>
				</div>
                <!--加载商品列表 -->
                <%include goods %>
                <!--加载分页数据 -->
                <%include page %>
                </div>
		</section>

	</div>
</article>
<%include foot %>